# backend/.dockerignore

# Python artifacts
__pycache__/
*.py[cod]
*.pyo

# Virtualenvs
venv/
pangeevenv/

# MLflow runs
app/mlruns/

# Data files (you don’t need these in the image)
# data/processed/
# faiss/faiss_store_metadata_content/
# faiss/faiss_vectorstore_metadata_content.pkl

# OS files
.DS_Store

