pandas
openpyxl
requests
beautifulsoup4
lxml
sentence-transformers
langchain
langchain-community
opensearch-py
langchain-huggingface
gradio
groq
fastapi
uvicorn[standard]
python-dotenv
langchain-huggingface
sentence-transformers
pydantic